<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-oidc-basic"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="0.0.1">

    <name>OpenID Connect Basic</name>

    <description>Interfaces with OpenID Connect providers using native frameworks</description>

    <repo></repo>

    <keywords>OpendID Connect, OIDC, OAuth</keywords>

    <license>MIT</license>

    <author>Tim Hambourger</author>

    <!-- cordova -->
    <engines>
        <!-- Minimum version supported by AppAuth-iOS -->
        <engine name="apple-ios" version=">=7.0" />
        <!-- Minimum version supported by AppAuth-Android -->
        <engine name="android-sdk" version=">=16" />
    </engines>

    <!-- interface -->
    <js-module src="www/oidc.js" name="OIDC">
        <clobbers target="cordova.plugins.oidc.basic" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OIDCBasic">
                <param name="ios-package" value="OIDCBasic"/>
            </feature>
        </config-file>
        <header-file src="src/ios/OIDCBasic.h" />
        <source-file src="src/ios/OIDCBasic.m" />
        <framework src="AppAuth" type="podspec" spec="~> 1.3.0" />
    </platform>

    <!-- android -->
    <platform name="android">
        <preference name="ANDROID_REDIRECT_SCHEME" default=" " />
        <preference name="ANDROID_REDIRECT_DATA_ELEMENT" default=" " />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OIDCBasic">
                <param name="android-package" value="com.mico.cordova.plugin.oidc.basic.OIDCBasic"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- Enable AppAuth-Android to handle OIDC redirects -->
            <activity android:name="net.openid.appauth.RedirectUriReceiverActivity" tools:node="replace" xmlns:tools="http://schemas.android.com/tools">
                <!-- Support redirect using simple custom URL scheme via ANDROID_REDIRECT_SCHEME variable. -->
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <data android:scheme="$ANDROID_REDIRECT_SCHEME"/>
                </intent-filter>
                <!-- Support redirect to another URL, e.g. an https App Link, via
                    ANDROID_REDIRECT_DATA_ELEMENT variable. Note that the placement
                    of the $ANDROID_REDIRECT_DATA_ELEMENT token, immediately after
                    the opening <intent-filter> tag, seems to be needed for cordova
                    to interpolate that value, otherwise cordova behaves as if the
                    token weren't there at all. -->
                <intent-filter>$ANDROID_REDIRECT_DATA_ELEMENT
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/OIDCBasic.java" target-dir="src/com/mico/cordova/plugin/oidc/basic"/>

        <framework src="net.openid:appauth:0.7+"/>
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/authorizationErrorResponse.js" />
        <js-module src="src/windows/authorizationRequest.js" />
        <js-module src="src/windows/authorizationSuccessResponse.js" />
        <js-module src="src/windows/cryptoUtils.js" />
        <js-module src="src/windows/endSessionRequest.js" />
        <js-module src="src/windows/endSessionResponse.js" />
        <js-module src="src/windows/isValidUrl.js" />
        <js-module src="src/windows/oidcConstants.js" />
        <js-module src="src/windows/oidcProxy.js">
            <merges target="" />
        </js-module>
    </platform>
</plugin>
